* {
  box-sizing: border-box;
}

h1 {
  color: white;
  text-align: center;
  font-family: 'Aldrich', sans-serif;
  font-size: 80px;
}

body {
 margin:0;
 background-image: url(https://images4.alphacoders.com/728/728529.jpg);
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;

}

button {
  padding: 10px 20px;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  font-weight: bold;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.9;
}

.popup {
  display: none; /* Hidden */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Dim background */
}

.popup-content {
  background-color: white;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
}

.close {
  float: right;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.close:hover {
  color: red;
}

.grid-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content:center;
  align-items: center;
  /* border: #595f43 solid 10px; */
}

.grid {
  box-shadow: inset 0 0 0 10px #595f43;
  border-radius: 30px;
  height: 700px;
  width: 700px;
  border: #595f43 solid 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.723);

}

.grid div {
  /* display: inline-block; */
  width: 5%;
  height: 5%;
}

.grid div.snake {
  background-color: green;
  /* background-image: url('');
  background-repeat: no-repeat;
  background-size: contain; */
}

.apple {
  /* background-image: url('/image/apple\ 1.jpg'); */
  background-size: cover;
  background-color: rgb(141, 27, 27);
  border-radius: 40%;
}

.game-controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  align-items: center;
}

#score {
  padding:10px 20px;
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: bold;
  cursor: pointer;
  background-color:brown;
  color: white;
  border-radius: 8px;
  box-shadow:  0 4px 8px rgba(0,0,0,0.2);
  transition: background-color 0.3s;

}
