* {
  box-sizing: border-box;
}

body {
 margin:0;
 background-image: url(https://images4.alphacoders.com/728/728529.jpg);
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;

}

.grid-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content:center;
  align-items: center;
  /* border: #595f43 solid 10px; */
}

.grid {
  box-shadow: inset 0 0 0 10px #595f43;
  border-radius: 30px;
  height: 700px;
  width: 700px;
  border: #595f43 solid 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(111, 106, 106, 0.205);

}

.grid div {
  /* display: inline-block; */
  width: 5%;
  height: 5%;
}

.grid div.snake {
  background-color: green;
  /* background-image: url('');
  background-repeat: no-repeat;
  background-size: contain; */
}

.apple {
  background-color: red;
}

.game-controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

#score {
  padding:10px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  background-color:brown;

}

button {
  padding: 10px 20px;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.9;
}
